
/* @font-face {
    font-family: 'Gotham';
    src:  url('../assets/spotify-font/GothamBook.ttf') format('truetype')
} */
html{
  background-color: #000;
}
body {
  margin: 0;
  font-family:var(--font-family,CircularSpTitle,CircularSpTitle-Tall,CircularSp-Arab,CircularSp-Hebr,CircularSp-Cyrl,CircularSp-Grek,CircularSp-Deva,var(--fallback-fonts,sans-serif));
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
  background: #000;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.lightBlackContainer {
  border-radius: 10px;
  background-color: #121212;
}

.hasNavigationMenu p {
  font-size: 16px;
  font-weight: 550;
  color: #b3b3b3;
}

.hasNavigationMenu {
  cursor: pointer;
}

.hasNavigationMenu:hover svg{
  color: white;
}
.hasNavigationMenu:hover p{
  color: white;
}

.hasNavigationMenu.active svg {
  color: white;
}

.hasNavigationMenu.active p {
  color: white;
}

#activeNavigationLink {
  color: #fff;
}

.hasNavigationMenuIcon {
  font-size: 25px;
  color: #b3b3b3;
}

.libraryCategoryContainer{
  overflow-x: scroll;
  width: 96%!important;
}

.libraryCategoryContainer::-webkit-scrollbar {
  width: 0px!important;
  height: 0px;
}

.libraryCategoryButton{
  background-color: #ffffff12!important;
  color: white!important;
  border-radius: 20px!important;
  font-size: 13px!important;
  font-weight: 500!important;
  white-space: nowrap;
}

.libraryCategoryMoreButton {
  color: white!important;
  border-radius: 20px!important;
  font-size: 14px!important;
  font-weight: 500!important;
  white-space: nowrap;
  z-index:1;
  position:absolute;
  right: -4px;
  bottom: -4px;
  background-color: #242424!important;
  padding:15px

}

.homeArrows {
  color: white!important;
  border-radius: 20px!important;
  font-size: 14px!important;
  font-weight: 500!important;
  white-space: nowrap;
  background-color: #000000b3!important;
  padding:15px
}

#albumsContainer::-webkit-scrollbar {
  width: 10px;
}

/* Track */
#albumsContainer::-webkit-scrollbar-track {
  background: transparent; 
}
 
/* Handle */
#albumsContainer::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
#albumsContainer::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

#installAppBtn {
  border-radius: 20px!important;
  font-size: 14px!important;
  font-weight: 500!important;
  white-space: nowrap;
  background-color: #000000b3!important;
  color: white
}

.homeContainer {
  overflow-y: scroll;
  overflow-x: hidden;
  height: 80vh;
}

.homeContainer::-webkit-scrollbar {
  width: 10px;
}

/* Track */
.homeContainer::-webkit-scrollbar-track {
  background: transparent; 
}
 
/* Handle */
.homeContainer::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
.homeContainer::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

.recommendationCardItem{
  background-color: #181818;
  border-radius: 5px;
  width: 18%!important;
  position: relative;
}

.recommendationCardItem img {
  width: 100%;
  border-radius: 10px;

}

.recommendationCardItem p {
    
}

.cardPlayComponent{
  color: white!important;
  border-radius: 20px!important;
  font-size: 14px!important;
  font-weight: 500!important;
  white-space: nowrap;
  background-color: #1ed760!important;
  padding:15px;
  position:absolute;
  right:25px;
  top: 47%;
  display: none!important;

}

.previousPlayComponent{
  color: white!important;
  border-radius: 20px!important;
  font-size: 14px!important;
  font-weight: 500!important;
  white-space: nowrap;
  background-color: #1ed760!important;
  padding:15px;
  position:absolute;
  right:25px;
  top: 30%;
  display: none!important;
}

.recommendationCardItem:hover .cardPlayComponent {
  display: block!important;
}

.recommendationCardItem:hover{
  cursor: pointer;
}

.previouslyListenedCard:hover .previousPlayComponent{
  display: block!important;
}

.skeleton {
  animation: skeleton-loading 1s linear infinite alternate;
}

@keyframes skeleton-loading {
  0% {
    background-color: hsla(201, 20%, 80%, 0.411);
  }
  100% {
    background-color: hsla(204, 20%, 95%, 0.527);
  }
}